<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.columbia.sel.facilitator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
	<uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
	<!-- <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="edu.columbia.sel.facilitator.FacilitatorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.columbia.sel.facilitator.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.columbia.sel.facilitator.activity.FacilityListActivity"
            android:label="@string/title_activity_facility_list" >
        </activity>
        <activity
            android:name="edu.columbia.sel.facilitator.activity.SelectOfflineAreaActivity"
            android:label="@string/title_activity_map" >
           	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.columbia.sel.facilitator.activity.FacilityDetailActivity"
            android:label="@string/title_facility_detail" >
        </activity>
        <activity
            android:name="edu.columbia.sel.facilitator.activity.FacilityMapListActivity"
            android:label="@string/title_facility_map_list" >
            <intent-filter>
                <action android:name="edu.columbia.sel.facilitator.COLLECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.columbia.sel.facilitator.activity.AddFacilityActivity"
            android:label="@string/title_add_facility"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        
        
        <service
            android:name="edu.columbia.sel.facilitator.api.FacilityRetrofitSpiceService"
            android:exported="false" />
        <service android:name="edu.columbia.sel.facilitator.service.LocationService"></service>
        <service android:name="edu.columbia.sel.facilitator.osm.TileFetchingService"></service>
    </application>

</manifest>